absl-py
aiohttp
argon2-cffi==20.1.0
astropy==4.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs
backcall==0.2.0
bleach==3.3.0
blinker==1.4
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools
certifi==2020.12.5
cffi
chardet
click
confuse==1.4.0
coverage
cryptography
cycler==0.10.0
Cython
decorator==4.4.2
defusedxml==0.7.1
entrypoints==0.3
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta==0.2.0
grpcio
gunicorn==20.1.0
h5py
htmlmin==0.1.12
idna
ImageHash==4.2.0
importlib-metadata
install==1.3.4
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous
jedi==0.18.0
Jinja2
joblib
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
jyserver==0.0.5
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe==1.1.1
matplotlib
matplotlib-inline==0.1.2
multidict
multimethod==1.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.0
numpy
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.1.0
packaging==20.9
pandas==1.2.3
pandas-profiling==2.8.0
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
phik==0.11.2
pickleshare==0.7.5
Pillow
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.14.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser
pydantic==1.8.2
pyerfa==2.0.0
Pygments==2.9.0
PyJWT==1.7.1
pyOpenSSL
pyparsing
pyrsistent==0.17.3
PySocks
python-dateutil
pytz
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.0.3
requests
requests-oauthlib==1.3.0
rsa
scipy
seaborn
sip==4.19.13
six
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
threadpoolctl
tornado
tqdm==4.60.0
traitlets==5.0.5
typing-extensions
urllib3
visions==0.4.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug
widgetsnbextension==3.5.1
wrapt==1.12.1
yarl
zipp
